@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    // height: 1000vh;
}

// html{
//     height: 1000%;
// }

header{
    display: flex;
    background-color: white;
    height: 5rem;
    // border-bottom: 1px solid black;
    // padding: 1rem 0;
    .bars{
        display: none;
    }
    .logo{
        margin-left: 7%;
        width: 15%;
        // text-align: center;
        // margin-top: 1rem;
        div{
            padding: .5rem 0;
            margin: 0 auto;
            width: 50%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .menu{
        width: 50%;
        height: 100%;
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            list-style-type: none;
            // margin-top: 1rem;
            // justify-content: space-evenly;
            li{
                width: 25%;
                text-align: center;
                a{
                    display: block;
                    height: 100%;
                    text-decoration: none;
                    color: black;
                    padding: 2rem 0 1rem 0;
                    // width: 25%;
                    // margin-top: 1rem;
                    // font-size: 1.3rem;
                }
            }
        }
    }
    .search-carts{
        width: 20%;
        margin-right: 3%;
        display: flex;
        margin-top: 1.5rem;
        .search{
            position: relative;
            width: 65%;
            input{
                // border: 1px solid #ccc;
                background-color: #e6e6e6;
                outline: none;
                height: 2rem;
                padding: .5rem 1rem .5rem .5rem;
                font-size: 1.05rem;
                border-radius: 5px;
                width: 100%;
            }
            label{
                position: absolute;
                right: 0%;
                top: 0%;
                background-color: #e6e6e6;
                padding: .4rem .5rem .3rem .7rem;
                border-radius: 4px;
            }
        }
        .carts{
            font-size: 1.5rem;
            margin-left: 10%;
            width: 25%;
        }
    }
}


body{
    .backgroundMarket{
        width: 100%;
        height: 85vh;
        display: flex;
        .imageShow{
            width: 79.5%;
            height: 100%;
            margin-right: .5%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .imageSlides{
            width: 20%;
            height: 100%;
            .imageSlide{
                width: 100%;
                height: 19.5%;
                margin-bottom: 1.4%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    }
    .productSale{
        .title{
            text-align: center;
        }
        .title::after{
            content: "-o0o-";
            display: block;
            font-size: .8rem;
        }
        .slide{
            margin-top: 2rem;
            position: relative;
            img{
                width: 100%;
                height: 25rem;
                object-fit: cover;
                box-shadow: 0px 0px 10px 3px #e6e6e6;
            }
            .description{
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: white;
                border-radius: 5px;
                padding: .5rem;
                display: none;
                h3{
                    font-weight: 100;
                    margin-bottom: .2rem;
                }
                div{
                    display: flex;
                    p{
                        font-size: .8rem;
                        span{
                            text-decoration: underline;
                        }
                    }
                    p:first-child{
                        text-decoration: line-through;
                        color: #8888;
                        margin-right: .5rem;
                    }
                }
            }
            .addCarts{
                position: absolute;
                top: 3%;
                right: 4%;
                font-size: 1.2rem;
                cursor: pointer;
            }
            .addCarts:hover{
                transform: rotate(360deg);
                transition: ease 1.5s;
            }
        }
    }
}

footer{
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    background-color: white;
    margin: 7rem 0 5rem 0;
    .logoFooter{
        margin-left: 10%;
        width: 15%;
        margin-right: 1.5%;
        margin-top: 2rem;
        div{
            width: 60%;
            margin-left: 8%;
            img{
                width: 100%;
            }
        }
        p{
            font-size: .9rem;
            width: 80%;
            margin-bottom: .7rem;
            word-spacing: .2rem;
        }
        .iconInfo{
            width: 100%;
            margin: 0;
            i{
                margin: 0 .3rem;
                font-size: 1.3rem;
            }
        }
    }
    .optionProducts{
        width: 15%;
        margin-right: 1.5%;
        margin-top: 2rem;
        ul{
            list-style-type: none;
            li:first-child{
                font-size: 1.2rem;
                font-weight: 700;
            }
            a{
                text-decoration: none;
                color: black;
                font-size: .9rem;
                margin: .8rem 0;
                display: block;
            }
        }
    }
    .supports{
        width: 15%;
        margin-right: 2%;
        margin-top: 2rem;
        ul{
            list-style-type: none;
            li{
                margin: .8rem 0;
            }
            li:first-child{
                font-size: 1.2rem;
                font-weight: 700;
                margin-top: 0;
            }
        }
    }
    .map{
        width: 50%;
        margin-top: 2rem;
        height: 20rem;
        iframe{
            height: 100%;
        }
    }
}
.end{
    background-color: black;
    color: white;
    height: 3rem;
    div{
        text-align: center;
        padding-top: .7rem;
    }
}
