@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none; }

header {
  display: flex;
  background-color: white;
  height: 5rem;
  z-index: 1000000; }
  header .bars {
    display: none; }
  header .logo {
    margin-left: 7%;
    width: 15%; }
    header .logo div {
      padding: .5rem 0;
      margin: 0 auto;
      width: 50%; }
      header .logo div img {
        width: 100%;
        object-fit: cover; }
  header .menu {
    width: 50%;
    height: 100%; }
    header .menu ul {
      width: 100%;
      height: 100%;
      display: flex;
      list-style-type: none; }
      header .menu ul li {
        width: 25%;
        text-align: center; }
        header .menu ul li a {
          display: block;
          height: 100%;
          text-decoration: none;
          color: black;
          padding: 2rem 0 1rem 0; }
  header .search-carts {
    width: 20%;
    margin-right: 3%;
    display: flex;
    margin-top: 1.5rem; }
    header .search-carts .search {
      position: relative;
      width: 65%; }
      header .search-carts .search input {
        background-color: #e6e6e6;
        outline: none;
        height: 2rem;
        padding: .5rem 1rem .5rem .5rem;
        font-size: 1.05rem;
        border-radius: 5px;
        width: 100%; }
      header .search-carts .search label {
        position: absolute;
        right: 0%;
        top: 0%;
        background-color: #e6e6e6;
        padding: .4rem .5rem .3rem .7rem;
        border-radius: 4px; }
    header .search-carts .carts {
      font-size: 1.8rem;
      margin-left: 10%;
      width: 25%;
      position: relative; }
      header .search-carts .carts .number {
        font-size: .7rem;
        position: absolute;
        top: 11%;
        left: 20%; }

.body {
  border-top: 1px solid black; }
  .body .goBackHome {
    border-bottom: 1px solid black;
    height: 3rem; }
    .body .goBackHome a {
      text-decoration: none;
      color: black;
      line-height: 3rem;
      margin-left: 2rem;
      font-size: 1.2rem; }
  .body .buyProdycts figure {
    width: 100%;
    height: 90%; }
    .body .buyProdycts figure img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .body .buyProdycts .buys h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 100; }
  .body .buyProdycts .buys .price {
    text-align: center;
    margin: 1rem 0; }
    .body .buyProdycts .buys .price span {
      text-decoration: underline; }
  .body .buyProdycts .buys .size {
    margin: 1rem 0;
    text-align: center; }
    .body .buyProdycts .buys .size button {
      width: 15%;
      padding: .5rem 1rem;
      background-color: white;
      border: 2px solid black;
      border-radius: 3px; }
    .body .buyProdycts .buys .size button:first-child {
      margin-right: .3rem; }
    .body .buyProdycts .buys .size button:last-child {
      margin-left: .3rem; }
  .body .buyProdycts .buys .color {
    text-align: center; }
    .body .buyProdycts .buys .color button {
      width: 15%;
      padding: .5rem 1rem;
      background-color: white;
      border: 2px solid black;
      border-radius: 3px; }
  .body .buyProdycts .buys .addProductCart {
    text-align: center;
    margin: 1rem 0;
    border: 1px solid black;
    border-radius: 3px;
    height: 3.5rem;
    line-height: 3.4rem;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .body .buyProdycts .buys .buy {
    text-align: center;
    margin: 1rem 0;
    background-color: black;
    color: #fff;
    border-radius: 3px;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .body .buyProdycts .buys ul {
    font-weight: 700;
    margin: 1rem 0; }
    .body .buyProdycts .buys ul li {
      margin-top: 1rem;
      font-size: .8rem;
      font-weight: 100; }
  .body .productsRelate .title {
    text-align: center;
    margin-bottom: 2rem; }
  .body .productsRelate .title::after {
    content: "-o0o-";
    display: block;
    font-size: .8rem; }
  .body .productsRelate .content .slides {
    width: 30%; }
  .body .productsRelate .content .slide {
    height: 20rem; }
    .body .productsRelate .content .slide img {
      width: 100%;
      height: 100%; }
    .body .productsRelate .content .slide .description {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: white;
      border-radius: 5px;
      padding: .5rem;
      display: none; }
      .body .productsRelate .content .slide .description h3 {
        font-weight: 100;
        margin-bottom: .2rem; }
      .body .productsRelate .content .slide .description div {
        display: flex; }
        .body .productsRelate .content .slide .description div p {
          font-size: .8rem; }
          .body .productsRelate .content .slide .description div p span {
            text-decoration: underline; }
        .body .productsRelate .content .slide .description div p:first-child {
          text-decoration: line-through;
          color: #8888;
          margin-right: .5rem; }
    .body .productsRelate .content .slide .addCarts {
      position: absolute;
      top: 3%;
      right: 4%;
      font-size: 1.2rem;
      cursor: pointer; }
    .body .productsRelate .content .slide .addCarts:hover {
      transform: rotate(360deg);
      transition: ease 1.5s; }

footer {
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  background-color: white;
  margin: 7rem 0 5rem 0; }
  footer .logoFooter {
    margin-left: 10%;
    width: 15%;
    margin-right: 1.5%;
    margin-top: 2rem; }
    footer .logoFooter div {
      width: 60%;
      margin-left: 8%; }
      footer .logoFooter div img {
        width: 100%; }
    footer .logoFooter p {
      font-size: .9rem;
      width: 80%;
      margin-bottom: .7rem;
      word-spacing: .2rem; }
    footer .logoFooter .iconInfo {
      width: 100%;
      margin: 0; }
      footer .logoFooter .iconInfo i {
        margin: 0 .3rem;
        font-size: 1.3rem; }
  footer .optionProducts {
    width: 15%;
    margin-right: 1.5%;
    margin-top: 2rem; }
    footer .optionProducts ul {
      list-style-type: none; }
      footer .optionProducts ul li:first-child {
        font-size: 1.2rem;
        font-weight: 700; }
      footer .optionProducts ul a {
        text-decoration: none;
        color: black;
        font-size: .9rem;
        margin: .8rem 0;
        display: block; }
  footer .supports {
    width: 15%;
    margin-right: 2%;
    margin-top: 2rem; }
    footer .supports ul {
      list-style-type: none; }
      footer .supports ul li {
        margin: .8rem 0; }
      footer .supports ul li:first-child {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 0; }
  footer .map {
    width: 50%;
    margin-top: 2rem;
    height: 20rem; }
    footer .map iframe {
      height: 100%; }

.end {
  background-color: black;
  color: white;
  height: 3rem; }
  .end div {
    text-align: center;
    padding-top: .7rem; }

.cartsModal {
  z-index: 999999999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  display: none; }
  .cartsModal .cart {
    background-color: white;
    width: 50%;
    margin: 5rem auto;
    height: 80%;
    position: relative; }
    .cartsModal .cart .title {
      list-style-type: none;
      display: flex;
      border-bottom: 2px solid black; }
      .cartsModal .cart .title li {
        text-align: center;
        font-size: 1.1rem;
        margin: 1rem 0; }
      .cartsModal .cart .title li:first-child {
        width: 20%; }
      .cartsModal .cart .title li:nth-child(2) {
        width: 30%; }
      .cartsModal .cart .title li:nth-child(3) {
        width: 15%; }
      .cartsModal .cart .title li:nth-child(4) {
        width: 15%; }
      .cartsModal .cart .title li:last-child {
        width: 19%; }
    .cartsModal .cart .contentProducts {
      overflow: auto;
      height: 34.2rem; }
      .cartsModal .cart .contentProducts ul {
        list-style-type: none;
        display: flex; }
        .cartsModal .cart .contentProducts ul li {
          text-align: center;
          font-size: 1.1rem;
          margin: .5rem 0; }
        .cartsModal .cart .contentProducts ul li:first-child {
          width: 20%;
          height: 6rem;
          position: relative; }
          .cartsModal .cart .contentProducts ul li:first-child .image {
            width: 55%;
            height: 95%;
            margin: 0 auto; }
            .cartsModal .cart .contentProducts ul li:first-child .image img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .cartsModal .cart .contentProducts ul li:first-child .close {
            position: absolute;
            top: 35%;
            left: 7%; }
        .cartsModal .cart .contentProducts ul li:nth-child(2) {
          width: 30%;
          line-height: 5.5rem; }
        .cartsModal .cart .contentProducts ul li:nth-child(3) {
          width: 15%;
          line-height: 5.5rem; }
          .cartsModal .cart .contentProducts ul li:nth-child(3) input {
            background-color: #f2f2f2;
            width: 50%;
            height: 30%;
            font-size: 1.1rem;
            padding-left: .7rem;
            margin: 0 auto; }
        .cartsModal .cart .contentProducts ul li:nth-child(4) {
          width: 15%;
          line-height: 5.5rem; }
        .cartsModal .cart .contentProducts ul li:last-child {
          width: 20%;
          line-height: 5.5rem; }
          .cartsModal .cart .contentProducts ul li:last-child input {
            background-color: #e6e6e6;
            width: 90%;
            margin: 0 auto;
            height: 40%;
            border-radius: 5px;
            cursor: pointer; }
    .cartsModal .cart .closeCarts {
      cursor: pointer;
      position: absolute;
      top: .8%;
      right: 1.3%;
      font-size: 1.2rem; }
