@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    // height: 1000vh;
}

// html{
//     height: 1000%;
// }

header{
    display: flex;
    background-color: white;
    height: 5rem;
    // border-bottom: 1px solid black;
    // padding: 1rem 0;
    z-index: 1000000;
    .bars{
        display: none;
    }
    .logo{
        margin-left: 7%;
        width: 15%;
        // text-align: center;
        // margin-top: 1rem;
        div{
            padding: .5rem 0;
            margin: 0 auto;
            width: 50%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .menu{
        width: 50%;
        height: 100%;
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            list-style-type: none;
            // margin-top: 1rem;
            // justify-content: space-evenly;
            li{
                width: 25%;
                text-align: center;
                a{
                    display: block;
                    height: 100%;
                    text-decoration: none;
                    color: black;
                    padding: 2rem 0 1rem 0;
                    // width: 25%;
                    // margin-top: 1rem;
                    // font-size: 1.3rem;
                }
            }
        }
    }
    .search-carts{
        width: 20%;
        margin-right: 3%;
        display: flex;
        margin-top: 1.5rem;
        .search{
            position: relative;
            width: 65%;
            input{
                // border: 1px solid #ccc;
                background-color: #e6e6e6;
                outline: none;
                height: 2rem;
                padding: .5rem 1rem .5rem .5rem;
                font-size: 1.05rem;
                border-radius: 5px;
                width: 100%;
            }
            label{
                position: absolute;
                right: 0%;
                top: 0%;
                background-color: #e6e6e6;
                padding: .4rem .5rem .3rem .7rem;
                border-radius: 4px;
            }
        }
        .carts{
            font-size: 1.5rem;
            margin-left: 10%;
            width: 25%;
        }
    }
}

.body{
    border-top: 1px solid black;
    .goBackHome{
        border-bottom: 1px solid black;
        height: 3rem;
        a{
            text-decoration: none;
            color: black;
            line-height: 3rem;
            margin-left: 2rem;
            font-size: 1.2rem;
        }
    }

    .buyProdycts{
        figure{
            width: 100%;
            height: 90%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .buys{
            h3{
                text-align: center;
                font-size: 2rem;
                font-weight: 100;
            }
            .price{
                text-align: center;
                margin: 1rem 0;
                span{
                    text-decoration: underline;
                }
            }
            .size{
                margin: 1rem 0;
                text-align: center;
                button{
                    width: 15%;
                    padding: .5rem 1rem;
                    background-color: white;
                    border: 2px solid black;
                    border-radius: 3px;
                }
                button:first-child{
                    margin-right: .3rem;
                }
                button:last-child{
                    margin-left: .3rem;
                }
            }
            .color{
                text-align: center;
                button{
                    width: 15%;
                    padding: .5rem 1rem;
                    background-color: white;
                    border: 2px solid black;
                    border-radius: 3px;
                }
            }
            .addProductCart{
                text-align: center;
                margin: 1rem 0;
                border: 1px solid black;
                border-radius: 3px;
                height: 3.5rem;
                line-height: 3.4rem;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
            .buy{
                text-align: center;
                margin: 1rem 0;
                // border: 1px solid black;
                background-color: black;
                color: #fff;
                border-radius: 3px;
                height: 3.5rem;
                line-height: 3.5rem;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
            ul{
                font-weight: 700;
                margin: 1rem 0;
                li{
                    margin-top: 1rem;
                    font-size: .8rem;
                    font-weight: 100;
                }
            }
        }
    }
    .productsRelate{
        .title{
            text-align: center;
            margin-bottom: 2rem;
        }
        .title::after{
            content: "-o0o-";
            display: block;
            font-size: .8rem;
        }
        .content{

            .slides{
                width: 30%;
            }
            .slide{
                // width: 30%;
                height: 20rem;
                img{
                    width: 100%;
                    height: 100%;
                }
                .description{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    border-radius: 5px;
                    padding: .5rem;
                    display: none;
                    h3{
                        font-weight: 100;
                        margin-bottom: .2rem;
                    }
                    div{
                        display: flex;
                        p{
                            font-size: .8rem;
                            span{
                                text-decoration: underline;
                            }
                        }
                        p:first-child{
                            text-decoration: line-through;
                            color: #8888;
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
    }
}



footer{
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    background-color: white;
    margin: 7rem 0 5rem 0;
    .logoFooter{
        margin-left: 10%;
        width: 15%;
        margin-right: 1.5%;
        margin-top: 2rem;
        div{
            width: 60%;
            margin-left: 8%;
            img{
                width: 100%;
            }
        }
        p{
            font-size: .9rem;
            width: 80%;
            margin-bottom: .7rem;
            word-spacing: .2rem;
        }
        .iconInfo{
            width: 100%;
            margin: 0;
            i{
                margin: 0 .3rem;
                font-size: 1.3rem;
            }
        }
    }
    .optionProducts{
        width: 15%;
        margin-right: 1.5%;
        margin-top: 2rem;
        ul{
            list-style-type: none;
            li:first-child{
                font-size: 1.2rem;
                font-weight: 700;
            }
            a{
                text-decoration: none;
                color: black;
                font-size: .9rem;
                margin: .8rem 0;
                display: block;
            }
        }
    }
    .supports{
        width: 15%;
        margin-right: 2%;
        margin-top: 2rem;
        ul{
            list-style-type: none;
            li{
                margin: .8rem 0;
            }
            li:first-child{
                font-size: 1.2rem;
                font-weight: 700;
                margin-top: 0;
            }
        }
    }
    .map{
        width: 50%;
        margin-top: 2rem;
        height: 20rem;
        iframe{
            height: 100%;
        }
    }
}
.end{
    background-color: black;
    color: white;
    height: 3rem;
    div{
        text-align: center;
        padding-top: .7rem;
    }
}