@media only screen and (max-width: 88em) and (min-width: 65em) {
  header .search-carts .carts .number {
    top: 10.8%;
    left: 17.5%; }
  footer .logoFooter {
    margin-left: 5%; }
  header .search-carts {
    width: 30%;
    margin-left: 5%; } }

@media only screen and (max-width: 64em) {
  header .search-carts {
    width: 30%;
    margin-left: 5%; }
  header .search-carts .carts .number {
    top: 12.2%;
    left: 24%; }
  footer .map {
    width: 40%; }
    footer .map iframe {
      width: 100%; }
  body .productSale .slide {
    margin: 0;
    margin-bottom: 2rem; }
  body .productSale .slide img {
    height: 80%; }
  body .productSale .title {
    margin-bottom: 3rem; }
  body .backgroundMarket {
    height: 35vh; } }

@media only screen and (max-width: 32em) {
  header {
    display: none; }
  .headerPhone {
    display: block;
    z-index: 100000;
    background-color: white; }
    .headerPhone .imgPhone {
      width: 100%; }
      .headerPhone .imgPhone .logoPhone {
        width: 30%;
        margin: 0 auto; }
        .headerPhone .imgPhone .logoPhone img {
          width: 100%; }
    .headerPhone .iconPhone {
      display: flex;
      padding: .5rem 0; }
      .headerPhone .iconPhone .bars {
        width: 15%;
        margin-right: 30%;
        text-align: center;
        font-size: 1.5rem; }
      .headerPhone .iconPhone .search-cartss {
        width: 55%;
        display: flex; }
        .headerPhone .iconPhone .search-cartss .search {
          position: relative;
          width: 70%; }
          .headerPhone .iconPhone .search-cartss .search input {
            background-color: #e6e6e6;
            outline: none;
            height: 1.8rem;
            padding: .5rem 1rem .5rem .5rem;
            font-size: 1.05rem;
            border-radius: 5px;
            width: 100%; }
          .headerPhone .iconPhone .search-cartss .search label {
            position: absolute;
            right: 0%;
            top: 0%;
            background-color: #e6e6e6;
            padding: .4rem .5rem .2rem .7rem;
            border-radius: 4px; }
        .headerPhone .iconPhone .search-cartss .carts {
          font-size: 1.6rem;
          margin-left: 10%;
          width: 10%;
          position: relative; }
          .headerPhone .iconPhone .search-cartss .carts .number {
            font-size: .7rem;
            position: absolute;
            top: 17%;
            left: 60%; }
  .menuPhone {
    position: fixed;
    background-color: white;
    z-index: 100000;
    top: 15.5%;
    right: 0;
    left: 0;
    display: none; }
    .menuPhone ul li a {
      text-decoration: none;
      color: black;
      display: block;
      padding: 1rem 0 1rem 1rem; }
    .menuPhone ul li a:hover {
      background-color: black;
      color: white; }
  footer {
    margin-bottom: 1rem; }
  footer .logoFooter {
    width: 40%; }
  footer .optionProducts, footer .supports {
    width: 30%; }
  footer .map {
    display: none; }
  .mapPhone {
    height: 15rem;
    width: 100%;
    margin-bottom: 1rem; }
    .mapPhone iframe {
      width: 100%;
      height: 100%; } }

@media only screen and (max-width: 24em) {
  body .backgroundMarket {
    height: 25vh; }
  .menuPhone {
    top: 17.5%; }
  .end {
    font-size: .8rem; }
  .headerPhone .iconPhone .search-cartss .carts {
    margin-left: 12%; }
  .headerPhone .iconPhone .search-cartss .carts .number {
    left: 80%;
    top: 16%; }
  body .productSale .slide {
    height: 13rem; }
  body .productSale .slide img {
    height: 100%; } }
